# Node
node_modules
npm-debug.log*
.nyc_output

# Yarn
yarn-error.log

# JetBrains
.idea/
*.iml

# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini

# Mac
.DS_Store

# Temporary files
coverage/
dist
docs
tmp
/.project

# Application Settings
ormconfig.env
